tabulate
ipywidgets
pandas
numpy
boto3
opencv-python
scikit-image
matplot
PyPDF2
unidecode
langchain
beautifulsoup4
nltk
tokenizers
transformers
spacy
sentence_transformers
gensim
jieba
svgling
lingua-language-detector
